{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Log In{% endblock %}</h1>
<h4>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" id="email" required>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Log In">
  </div>
</form>
<a href='/register'>Register</a>
{% endblock %}